
  body {
    font-family: Lato;
    height: 97vh;
    width: 100%;
    background-color: #4A4E69; 
  }

/* All three below not in use yet. */
  .outer-container {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .sidebar {
    display: table-cell;
    width: 15%;
    vertical-align: top;
  }
  
  .content {
    display: table-cell;
    width: 85%;
    vertical-align: top;
  }